body{
    margin: 0;
    font-family: Verdana, Helvetica, sans-serif;
}

div {
    text-align: center;
}

.flex-container{
    flex-direction: column;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.sub-div{
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: start;
    background-color: #158fd4;
    padding: 10px;
    width: 100%;
}

.small-div{
    color: white;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0e4a80;
    padding: 10px;
    width: 40%;
}

.navbar {
    flex-direction: row;
    display: flex;
    overflow: hidden;
    background-color: black;
}
  
.navbar a {
    color: #f2f2f2;
    text-align: center;
    padding: 12px 16px;
    text-decoration: none;
    font-size: 20px;
}

.navbar a:hover {
  background-color: white;
  color: black;
}

a{
    color: black;
    text-align: center;
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#logo{
    float: left;
    width: 5%;
    border: none;
}

img{
    width: 20%;
    border: 5px solid white;
}

h1 {
    text-align: center;
    color: black;
}